body {
    margin: 0px;
}

.hero,
.footer {
    background-color: #1f2937;
}

.hero {
    display: flex;
    flex-direction: column;
}

.header,
.main {
    margin: 0% 10%;
}

.header {
    margin-top: 12px;
    display: flex;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.main div {
    flex: 1 1 300px;
}

.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6a8aa;
    flex: 1;
}

.main-right div {
    text-align: center;
}

.main-text{
    font: 48px extra-bold;
    color: #f9faf8;
}

.secondary,
.link {
    font-size: 18px;
    color: #e5e7eb;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px
}

.information {
    font: 36px extra-bold;
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
    font: 36px light italic;
    color: #1f2937;
}