* {
    font-family: 'Ubuntu', 'DejaVu sans', 'Arial', sans-serif;
}

body {
    margin: 0px;
}

#hero,
#footer {
    background-color: #1f2937;
}

#hero {
    display: flex;
    justify-content: center;
}

#hero-container,
#call-box {
    flex: 0 1 1030px;
}

#hero-container {
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#header {
    margin-top: 12px;
    display: flex;
    gap: 30px;
}

#main {
    display: flex;
    justify-content: center;
    gap: 44px;
    margin-top: 48px;
    margin-bottom: 48px;
}

#main div {
    flex: 0 1 478px;
}

#main-left div,
#main-left button {
    margin: 8px 0px;
    border: none;
}

#main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909091;
}

#main-right div {
    text-align: center;
}

#main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary,
.link,
#footer div {
    font-size: 18px;
    color: #e5e7eb;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    margin-right: auto;
}

button {
    flex: 0 0 auto;
    height: fit-content;
    width: fit-content;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    padding: 8px 36px;
    font-weight: 900;
}

#information-section {
    display: flex;
    flex-direction: column;
}

#info-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 48px;
}

#card-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 10px;
}

.card-pic {
    height: 170px;
    border: 5px solid #3f50f0;
    border-radius: 15px;
}

.card-text {
    text-align: center;
    font-size: 18px;
    color: #909091;
}

#quote-section {
    display: flex;
    background-color: #e5e7eb;
    padding: 96px 30px 84px;
    justify-content: center;
}

#quote-container {
    flex: 0 1 780px;
}

#quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

#citation {
    padding-top: 10px;
    padding-right: 30px;
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    text-align: end;
}

#call-to-action {
    padding: 72px 30px;
    display: flex;
    justify-content: center;
}

#call-box {
    box-sizing: border-box;
    background-color: #3882f6;
    padding: 56px 130px;
    border-radius: 15px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

#call-box div {
    color: #f9faf8;
}

#call-header {
    font-size: 24px;
    font-weight: 900;
}

#call-subtext {
    font-size: 18px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px 0px;
}